/Arrays/nbproject/private/
/Arrays/build/
/ArraysBoolean/nbproject/private/
/ArraysBoolean/build/
/ClasseIdade/nbproject/private/
/ClasseIdade/build/
/Exercicio1_lista1_2021/nbproject/private/
/Exercicio1_lista1_2021/build/
/Exercicio2_lista1_2021/nbproject/private/
/Exercicio2_lista1_2021/build/
/Exercicio3_lista1_2021/nbproject/private/
/Exercicio3_lista1_2021/build/
/Exercicio4_lista1_2021/nbproject/private/
/Exercicio4_lista1_2021/build/
/TarefaVetores/nbproject/private/
/TarefaVetores/build/
/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/GrelhaCardano/nbproject/private/
/GrelhaCardano/build/
/QualNumeroSorteado/nbproject/private/
/QualNumeroSorteado/build/